.layout {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    align-items: center;
    row-gap: 3rem;
    box-sizing: border-box;
    padding: 0 1.6rem 1.6rem 1.6rem;
}

.intro .title {
    display: inline;
    background: linear-gradient(315deg, var(--border-color-blue) 5%, var(--border-color-red) 95%);
    color: var(--color-background);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2;
    padding: 0.25rem 0.75rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}


@media (min-width: 23.4375rem) {
    .render {
        width: calc(100vw - 3.4rem);
        height: calc(100vw - 3.4rem);
    }

    .intro .title {
        font-size: 1.25rem;
    }
}

@media (min-width: 64rem) {
    .layout {
        align-items: center;
    }

    .render {
        max-width: 64rem;
        max-height: 64rem;
    }

}

@media (min-width: 86.875rem) {
    .layout {
        flex-direction: row;
        justify-content: center;
    }
}
