@import './base.css';

/* baseline setup */
html {
    font-size: var(--default-font-size-mobile-unit);
    width: 100%;
    height: 100%;
}

@media (min-width: 23.4375rem) {
    html {
        font-size: calc(var(--default-font-size-mobile-unit) + (100vw - 23.4375rem) * (var(--default-font-size-desktop) - var(--default-font-size-mobile)) / (64 - 23.4375));
    }
}

@media (min-width: 64rem) {
    html {
        font-size: var(--default-font-size-desktop-unit);
    }
}

body {
    height: 100%;
    width: 100%;
}

.border-1 {
    box-shadow:
        .3rem -.3rem 0 -.1rem var(--color-background),
        .3rem -.3rem var(--border-color-blue),
        .6rem -.6rem 0 -.1rem var(--color-background),
        .6rem -.6rem var(--border-color-red)
    ;
    transition: box-shadow .3s;
}

.border-2 {
    box-shadow:
        .2rem -.2rem var(--color-background),
        .3rem -.3rem var(--border-color-blue),
        .5rem -.5rem var(--color-background),
        .6rem -.6rem var(--border-color-red)
    ;
    transition: box-shadow .3s;
}

.border-3 {
    box-shadow:
        -.3rem -.3rem 0 -.1rem var(--color-background),
        -.3rem -.3rem var(--border-color-blue),
        -.6rem -.6rem 0 -.1rem var(--color-background),
        -.6rem -.6rem var(--border-color-red),
        .3rem .3rem 0 -.1rem var(--color-background),
        .3rem .3rem var(--border-color-blue),
        .6rem .6rem 0 -.1rem var(--color-background),
        .6rem .6rem var(--border-color-red)
    ;
    transition: box-shadow .3s;
}

.border-4 {
    box-shadow:
        -.2rem -.2rem var(--color-background),
        -.3rem -.3rem var(--border-color-blue),
        -.5rem -.5rem var(--color-background),
        -.6rem -.6rem var(--border-color-red),
        .2rem .2rem var(--color-background),
        .3rem .3rem var(--border-color-blue),
        .5rem .5rem var(--color-background),
        .6rem .6rem var(--border-color-red)
    ;
    transition: box-shadow .3s;
}

.border-5 {
    box-shadow:
        0 0 0 .3rem var(--color-background),
        1rem -1rem 0 -.3rem var(--color-background),
        -.6rem -.6rem var(--border-color-blue)
    ;
}

@media (hover: hover) {
    .border-1:hover {
        box-shadow:
            .3rem -.3rem 0 -.1rem var(--color-background),
            .3rem -.3rem var(--border-color-red),
            .6rem -.6rem 0 -.1rem var(--color-background),
            .6rem -.6rem var(--border-color-blue)
        ;
    }

    .border-1.collapsed:hover {
        box-shadow:
            .0rem -.0rem 0 -.1rem var(--color-background),
            .0rem -.0rem var(--border-color-red),
            .0rem -.0rem 0 -.1rem var(--color-background),
            .0rem -.0rem var(--border-color-blue)
        ;
    }

    .border-2:hover {
        box-shadow:
            .2rem -.2rem var(--color-background),
            .3rem -.3rem var(--border-color-red),
            .5rem -.5rem var(--color-background),
            .6rem -.6rem var(--border-color-blue)
        ;
    }

    .border-3:hover {
        box-shadow:
            -.3rem -.3rem 0 -.1rem var(--color-background),
            -.3rem -.3rem var(--border-color-red),
            -.6rem -.6rem 0 -.1rem var(--color-background),
            -.6rem -.6rem var(--border-color-blue),
            .3rem .3rem 0 -.1rem var(--color-background),
            .3rem .3rem var(--border-color-red),
            .6rem .6rem 0 -.1rem var(--color-background),
            .6rem .6rem var(--border-color-blue)
        ;
    }

    .border-4:hover {
        box-shadow:
            -.2rem -.2rem var(--color-background),
            -.3rem -.3rem var(--border-color-red),
            -.5rem -.5rem var(--color-background),
            -.6rem -.6rem var(--border-color-blue),
            .2rem .2rem var(--color-background),
            .3rem .3rem var(--border-color-red),
            .5rem .5rem var(--color-background),
            .6rem .6rem var(--border-color-blue)
        ;
    }
}

.photo {
    position: relative;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3),
                0 0 1rem rgba(0, 0, 0, .1) inset;
}

.photo::after, .photo::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 1.25rem;
    right: 1.25rem;
    border-radius: 1rem / .1rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .3);
}

#app {
    width: 100%;
    height: 100%;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

header {
    height: 5rem;
    overflow: auto;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}
